.card-img-top {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

.zoom:hover {
  -ms-transform: scale(1.09); 
  -webkit-transform: scale(1.09); 
  transform: scale(1.09); 
}

p {
  margin: 0em;
  font-size: 12px;
  text-align: left;
}
a {
  cursor: pointer;
}

#addbutton {
  color: green;
  margin-left: 5px;
  margin-right: 5px;
  letter-spacing: 2px;
}

#addbutton:hover {
  color: blue;
  text-underline-position: below;
}

hr {
  margin: 0.3rem;
  opacity: 0;
}

.card-title {
  margin: 0.1rem;
}

.alert {
  background: #ffaaaa;
  padding: 0px;
  font-size: .9em;
  margin-bottom: 0px;
  display: inline-block;
  animation: 2s alertAnim forwards;
}

.block {
  margin: 20px;
  border-radius: 4px;
  width: 280px;
  min-height: 430px;
  background: #fff;
  padding: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-shadow: 0 2px 55px rgba(0,0,0,0.1);
}
.top {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  text-align: center;
}
.top a {
  color: #9e9e9e;
}
.top a:hover {
  color: #c7ccdb;
}
.middle {
  margin-bottom: 40px;
}
.middle img {
  width: 100%;
  height: 12em;
}
.bottom {
  text-align: center;
  padding: 0rem;
  margin: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.heading {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 0;
}
.info {
  font-size: 14px;
  color: #969696;
  margin-bottom: 10px;
}
.style {
  font-size: 16px;
  margin-bottom: 20px;
}
.old-price {
  color: #f00;
  text-decoration: line-through;
}

.bottom .price {
    margin-bottom: 8px;
}

.bottom {
    text-align: left;
}

.bottom .heading {
  margin-top: -1rem;
  text-align: center;
}

form{
  margin-left: 8.3rem;
}

/* Media query for Form and dropdown list */
@media screen and (max-width: 600px) {
    form{
  margin-left: 0px;
}
form input{
  width: 100% !important;
}
form button{
  margin: 1rem auto !important;
}
label{
  width: 100% !important;
}
  select{
    width: 100% !important;    
  }
  /* Class to make no product found image responsive */
  .emptyList {
    width: 90%;
  }
}