<div class="row">
  <div *ngFor="let product of products | paginate: {itemsPerPage:8,currentPage:p}" class="col-lg-3">

    <!-- Products Cards -->
    <div class="block">

      <div class="top">
        <span class="converse">{{product.productId}}</span>
      </div>

      <div class="middle">
        <img src="{{product.imageUrl}}" alt="pic" />
      </div>

      <div class="bottom">
        <div class="heading">{{product.productName}}</div>
        <div class="info">{{product.description}}</div>
        <div class="quantity">{{ 'farmer_view_product.quantity' | translate }}: {{product.quantity}} Kg</div>
        <div class="price">{{ 'farmer_view_product.price' | translate }}: ₹{{product.price}}/kg.</div>
      </div>
      <span>
        <a id="update" data-toggle="modal" data-target="#exampleModal" (click)="updateProduct(product)">{{ 'farmer_view_product.update' | translate }}</a>
        |
        <a id="delete" (click)="saveId(product.productId)">{{ 'farmer_view_product.delete' | translate }}</a>
      </span>

    </div>
  </div>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>
<!-- Update Product Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'farmer_view_product.upadte_product' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <fieldset disabled>
            <div class="form-group">
              <label for="productId" class="col-form-label">{{ 'farmer_view_product.productid' | translate }}:</label>
              <input type="text" class="form-control" id="productId" name="productId" [(ngModel)]="productId">
            </div>
          </fieldset>
          <div class="form-group">
            <label for="description" class="col-form-label">{{ 'farmer_view_product.description' | translate }}:</label>
            <textarea class="form-control" id="description" name="description" [(ngModel)]="description"></textarea>
          </div>
          <div class="form-group">
            <label for="price" class="col-form-label">{{ 'farmer_view_product.price' | translate }}:</label>
            <input type="text" class="form-control" name="price" id="price" [(ngModel)]="price">
          </div>
          <div class="form-group">
            <label for="bulkOrderPrice" class="col-form-label">{{ 'farmer_view_product.bulk_ordr_price' | translate }}:</label>
            <input type="text" class="form-control" name="bulkOrderPrice" [(ngModel)]="bulkOrderPrice">
          </div>
          <div class="form-group">
            <label for="quantity" class="col-form-label">{{ 'farmer_view_product.quantity' | translate }}:</label>
            <input type="text" class="form-control" name="quantity" [(ngModel)]="quantity">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'farmer_view_product.cancel' | translate }}</button>
            <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="updateData()">{{ 'farmer_view_product.update' | translate }}</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>