ul{
  list-style-type:none ;
}

nav{
  background-color: #ffffff;
  opacity: 1.0;
}

a{
  color: #29a745;
}
.show{
  color:#767a82;
}

@media screen and (max-width: 600px) {
    .topnav a.icon {
      float: right;
      display: block;
    }
    ul{
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon { 
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive  {float: none;}
    .topnav.responsive  {position: relative;}
    .topnav.responsive  {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #35a041;
  border: 1px solid #35a041;
      border-top-color: rgb(53, 160, 65);
      border-right-color: rgb(53, 160, 65);
      border-bottom-color: rgb(53, 160, 65);
      border-left-color: rgb(53, 160, 65);
  border-radius: .25rem;
}
.footer-bottom { background: #28a745; text-align: left; color: #fff; height: 2rem;}

#top-nav { background: #28a745; backface-visibility: hidden}

#location{
  margin-top:-.4rem;
  color: #fff;
  margin-left:2rem; 
}

#lang-drop{
  margin-top: -.2rem;
  margin-right:2rem; 
}

#lang-div{
  text-align: end;
}

/* change location modal */
    @media (min-width: 96rem) {
      .small {
        display: none;
      }
 
    }
 
    @media (max-width: 160rem) {
      .large {
        display: none;
      }
 
      .logo {
        font-size: 1rem;
      }
    }
 
    .btn-default
    {
     background-color: green;
     color: white;
   }
 
   .maincities
   {
     height: 4.5rem;
     width: 4.5rem;
     margin-right: 1.5rem;
     margin-left: 1rem;
   }
 
   .maincitiestext
   {
     font-weight: bold;
     padding-right: 1.75rem;
     padding-left: 1.70rem;
     font-size: 0.75rem;
   }
 
   .dropdown-toggle
   {
     margin-left: 5rem;
     margin-bottom: 1rem;
   }
 
 
  ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }
 
 
 li {
   float: left;
 }
 
 #_setImg {
  background-color: transparent;
  border: none;
 }
 
 