<h1>{{ 'customer_address_book.address_details' | translate }}</h1>
<div class="container-fluid" id="main_div">
  <div class="row" style="margin: auto">
    <div class="col-4" style="max-width: 250px;;">
      <div class="card add_card" id="card">
        <div class="card-body">
          <h5 class="card-title">{{ 'customer_address_book.add_address' | translate }}</h5>
          <a routerLink="/customer/addressBook/addAddress"><img src="../../../../../assets/images/add_address.png" id="address_icon"></a>
        </div>
      </div>
    </div>
    <div *ngFor="let address of details; let i=index">
      <div class="col-4">
        <div class="card" id="card">
          <div class="card-body">

            <div class="card-text">
              <ul style="list-style-type: none; padding: 0">
                <li style="text-align: center"><b>Address {{i+1}}</b></li>
                <hr style="margin: .75rem; width: 100%">
                <li>{{address.addressLine}}</li>
                <li>{{address.district}},</li>
                <li>{{address.state}}, {{address.pincode}}</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
 </div>
</div>
