<!--Footer-->
<!-- <footer id="myFooter" class="mt-5">
  <div>
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo">
          <a>
            <img src="../../../assets/Header/kkd_logo.png" class="mt-4 ml-5 foot-logo" width="120" height="120" alt="KKD Logo">
          </a>
        </h2>
      </div>
      <div class="col-sm-2">
        <h5>{{ 'footer.get_started' | translate }}</h5>
        <ul>
          <li>
            <a routerLink="/farmer/login" *ngIf="loggedIn==false">{{ 'footer.farmer' | translate }}</a>
          </li>
          <li>
            <a routerLink="/customer/login" *ngIf="loggedIn==false">{{ 'footer.customer' | translate }}</a>
          </li>
          <li>
            <a routerLink="/about">{{ 'footer.about_us' | translate }}</a>
          </li>

        </ul>
      </div>
      <div class="col-sm-2">
        <h5>{{ 'footer.company_information' | translate }}</h5>
        <ul>

          <li>
            <a routerLink="/policies">{{ 'footer.policies' | translate }}</a>
          </li>
          <li>
            <a routerLink="/connect">{{ 'footer.contact_us' | translate }}</a>
          </li>
          <li>
              <a routerLink="/reviews">{{ 'footer.reviews' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5> {{ 'footer.support' | translate }}</h5>
        <ul>
          <li>
            <a routerLink="/help">{{ 'footer.help' | translate }}</a>
          </li>
          <li>
            <a routerLink="/support">{{ 'footer.support' | translate }}</a>
          </li>
          <li>
            <a>{{ 'footer.forums' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a  class="twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="google">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
        <button type="button" class="btn btn-default" routerLink="/connect">{{ 'footer.contact_us' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2018 {{ 'footer.kisan_ki_dukan' | translate }}</p>
  </div>
</footer> -->
<!--/.Footer-->


<!--Footer-->
<footer class="page-footer font-small pt-0">

  <!--Footer Links-->
  <div class="container">

    <!--Grid row-->
    <div class="row pt-5 mb-3 text-center d-flex justify-content-center">
      <!--Grid column-->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/about">About us</a>
        </h6>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/policies">Policies</a>
        </h6>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/help">Help</a>
        </h6>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/support">Support</a>
        </h6>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/connect">Contact</a>
        </h6>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
    <div class="row pb-3 col-md-5 col-12 mt-5">

      <!--Grid column-->
      <div class="col-md-12">

        <div class="mb-3 flex-center social-icons">
          <!--Facebook-->
          <a class="fb-ic">
            <i class="fa fa-facebook fa-lg white-text mr-md-4"> </i>
          </a>
          <!--Twitter-->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg white-text mr-md-4"> </i>
          </a>
          <!--Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i>
          </a>
          <!--Linkedin-->
          <a class="li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram fa-lg white-text mr-md-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fa fa-pinterest fa-lg white-text"> </i>
          </a>
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

  </div>
  <!--/Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright Kisan Ki Dukan
  </div>
  <!--/Copyright-->

</footer>
<!--/Footer-->